@@IF static@@
# Only src/ and deploy/docker/ go into the image
*
!src/
!deploy/docker/
@@END@@
@@IF server@@
# Only the web app, the app server and its dependency list go into the image
*
!src/
!server/
!package.json
!package-lock.json
@@END@@
